.footer {
  display: flex;
  justify-content: center;
  padding: 32px;
  width: 100%;
  margin-top: auto; // Прибиває футер до низу

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  &__links {
    display: flex;
    gap: 24px;

    a {
      text-decoration: none;
      font-size: 14px;
    }
  }
}