__pycache__/
*.pyc
.venv/
.idea/
.DS_Store
*.log
*.sqlite3
*.env
*.env.*
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
coverage/
htmlcov/
*.cover
*.coveragerc
*.pyo
*.pyd
package-lock.json
.node_modules/
