.about-section {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111114; // Трохи інший відтінок для візуального розділення
  border-bottom: 1px solid #27282f;
  color: #94a3b8;
}