.hero-section {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0e; // Базовий фон
  border-bottom: 1px solid #27282f;
  color: #94a3b8;
}