.workspace-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden; // Жодного глобального скролу, скролиться тільки контент всередині
}

.workspace-content {
  flex: 1;
  background-color: #111114; // Фон робочої зони
  display: flex;
  flex-direction: column;
  position: relative;
}