body {
    font-family: "Actor", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}
.photo{
    flex:1;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH3amn1qTvuRrWi2xAr_Z5N-_ZIuwDCVF5dg&s') center/cover no-repeat;
}
.main-container {
  flex: 1;
  padding-top: 200px;
  display: flex;
  justify-content: center;  /* центрує форму по горизонталі */
  align-items: flex-start;   /* залишається вгорі */
}


.login-form {
  width: 80%; /* щоб були відступи по боках */
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headline h4 {
    color: rgb(163, 163, 163);
    font-weight: 100;
}
.input input{
    height: 50px;
    width: 450px;
    border-radius: 8px;
    box-shadow:  3px 3px 5px rgba(1, 1, 1, 0.300);;
}
.input h2 {
    padding-left: 10px;
    font-weight: 100;
    font-size: 12px;
    color: rgb(163, 163, 163);
}
.remember_me{
    display: flex;
    justify-content: space-between;
    align-items: center; /* вирівнює по вертикалі */
    width: 100%;
    padding-top: 40px;
    padding-bottom:40px ;
}
.remember_me a{
    text-decoration: none;
    color: rgb(163, 163, 163);
}
.login_button{
    background-color: #6646b3;
    color: #cac8ca;
    text-decoration: none;
    height: 55px;
    width: 460px;
    border-radius: 8px;
    box-shadow:  3px 3px 5px rgba(1, 1, 1, 0.300);;
    display: inline-block; 
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

