:root {
  
  --bg-main: #1f1f1f;
  --bg-accent: #306c8c;
  --text-primary: #ffffff;
  --border-radius: 12px;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: sans-serif; 
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}