.global-sidebar {
  width: 72px;
  min-width: 72px;
  height: 100vh;
  background-color: #0c0c0e; // Найтемніший шар
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  border-right: 1px solid #27282f;
  z-index: 10;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
  }
}