.global-sidebar {
  width: 72px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  flex-shrink: 0;
  
  // Строгий темний фон під загальну тему
  background-color: #0a0a0a;
  border-right: 1px solid #1a1a1a;
  z-index: 100;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    
    // Квадратніші форми
    border-radius: 6px; 
    border: 1px solid transparent; 
    background: transparent;
    color: #666; // Приглушені іконки по дефолту
    transition: all 0.2s ease;

    &:hover {
      color: #ccc;
      background: #111;
    }

    // СТАН АКТИВНОЇ ВКЛАДКИ
    &--active {
      color: #fff;
      border-color: #2f124c; // Твоя фіолетова обводка
      background: rgba(47, 18, 76, 0.1); // Ледве помітний відблиск всередині
      
      &:hover {
        background: rgba(47, 18, 76, 0.2); // На ховері активної вкладки трохи світліше
      }
    }

    .global-sidebar__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}