
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #0c0c0e; // якщо ще не переніс кольори, то закинь одразу
  color: #e2e8f0;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

// Це головний трюк для прибитого футера
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Контентна частина буде забирати весь вільний простір
main {
  flex: 1;
  padding: 20px;
}